@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffffff;
  --off-white: #f5f5f5ff;
  --accent-primary: #da4167ff;
  --gray: #d6d6d6;
  --dark-blue: #12162bff;
  --black: #0d0c1dff;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
